### Data Preparation Pipeline

Loading dataset

In [193]:
import pandas as pd

df = pd.read_csv("/Users/altemir_1/Desktop/Housing-Analysis/data/raw/astana_sale_raw_march_2025.csv")

df

,Unnamed: 0,Title,Price,Location,Link
0,0,2-комнатная квартира · 48.1 м² · 10/10 этаж,26 400 000〒,"Нура р-н, Айтматова — Мухамедханова",https://krisha.kz/a/show/760514087
1,1,3-комнатная квартира · 70 м² · 2/6 этаж,31 000 000〒,"Алматы р-н, Кажымукана 16",https://krisha.kz/a/show/699137309
2,2,1-комнатная квартира · 40.4 м² · 8/9 этаж,17 800 000〒,"Есильский р-н, Туран 89/3",https://krisha.kz/a/show/697594913
3,3,2-комнатная квартира · 75 м² · 4 этаж,51 000 000〒,"Есильский р-н, Кабанбай батыра — Рыскулова",https://krisha.kz/a/show/1000167913
4,4,1-комнатная квартира · 45 м² · 9/9 этаж,25 000 000〒,"Есильский р-н, Мангилик Ел 19/2",https://krisha.kz/a/show/699116404
...,...,...,...,...,...
19998,19998,4-комнатная квартира · 167.9 м² · 10/10 этаж,90 000 000〒,"Алматы р-н, ул. Ахмет Байтурсынова",https://krisha.kz/a/show/52422256
19999,19999,3-комнатная квартира · 66.5 м² · 5/5 этаж,30 000 000〒,"Алматы р-н, сатпаева 13/3",https://krisha.kz/a/show/761797657
20000,20000,3-комнатная квартира · 72 м² · 12/13 этаж,53 000 000〒,"Нура р-н, сыганак 24",https://krisha.kz/a/show/761587982
20001,20001,1-комнатная квартира · 30 м² · 1/6 этаж,14 500 000〒,"Есильский р-н, Кабанбай батыра 107",https://krisha.kz/a/show/692094979
20002,20002,1-комнатная квартира · 41 м² · 3/15 этаж,22 400 000〒,"Сарайшык р-н, Кошкарбаева 32/1",https://krisha.kz/a/show/1000143883

In [194]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df

,Title,Price,Location,Link
0,2-комнатная квартира · 48.1 м² · 10/10 этаж,26 400 000〒,"Нура р-н, Айтматова — Мухамедханова",https://krisha.kz/a/show/760514087
1,3-комнатная квартира · 70 м² · 2/6 этаж,31 000 000〒,"Алматы р-н, Кажымукана 16",https://krisha.kz/a/show/699137309
2,1-комнатная квартира · 40.4 м² · 8/9 этаж,17 800 000〒,"Есильский р-н, Туран 89/3",https://krisha.kz/a/show/697594913
3,2-комнатная квартира · 75 м² · 4 этаж,51 000 000〒,"Есильский р-н, Кабанбай батыра — Рыскулова",https://krisha.kz/a/show/1000167913
4,1-комнатная квартира · 45 м² · 9/9 этаж,25 000 000〒,"Есильский р-н, Мангилик Ел 19/2",https://krisha.kz/a/show/699116404
...,...,...,...,...
19998,4-комнатная квартира · 167.9 м² · 10/10 этаж,90 000 000〒,"Алматы р-н, ул. Ахмет Байтурсынова",https://krisha.kz/a/show/52422256
19999,3-комнатная квартира · 66.5 м² · 5/5 этаж,30 000 000〒,"Алматы р-н, сатпаева 13/3",https://krisha.kz/a/show/761797657
20000,3-комнатная квартира · 72 м² · 12/13 этаж,53 000 000〒,"Нура р-н, сыганак 24",https://krisha.kz/a/show/761587982
20001,1-комнатная квартира · 30 м² · 1/6 этаж,14 500 000〒,"Есильский р-н, Кабанбай батыра 107",https://krisha.kz/a/show/692094979
20002,1-комнатная квартира · 41 м² · 3/15 этаж,22 400 000〒,"Сарайшык р-н, Кошкарбаева 32/1",https://krisha.kz/a/show/1000143883

Splitting title into rooms, area and floor information

In [195]:
split_df = df["Title"].str.split("·", expand=True)

df["number_of_rooms"] = split_df[0]
df["area"] = split_df[1]
df["floor"] = split_df[2]

df.drop("Title", axis=1, inplace=True)

Price

In [196]:
df["Price"] = df["Price"].str.replace("〒", "", regex=False)
df["Price"] = df["Price"].str.replace("\xa0", "")
df["Price"] = df["Price"].str.replace("от", "")
df["Price"] = df["Price"].astype(int)

Area

In [197]:
df["area"] = df["area"].str.replace("м²", "")
df["area"] = df["area"].astype(float)

Number of Rooms

In [198]:
df["number_of_rooms"] = df["number_of_rooms"].str.replace("-комнатная квартира", "")
df["number_of_rooms"] = df["number_of_rooms"].astype(int)

Floor

In [199]:
split_floor_df = df["floor"].str.split("/", expand=True)
df["floor"] = split_floor_df[0]

np.int64(1212)

In [205]:
df.floor = df["floor"].str.replace(" ", "")
df.floor = df["floor"].str.replace("\xa0", "").str.replace("этаж","")
df.floor = df["floor"].str.replace("помесячно", "0")
df.floor.fillna(df.floor.mode()[0], inplace=True)

/var/folders/vx/qnjn5crx6n17qty1n6m8kf4w0000gn/T/ipykernel_45753/1383255438.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.floor.fillna(df.floor.mode()[0], inplace=True)

In [206]:
df.floor.isnull().sum()

np.int64(0)

In [207]:
df.floor = df.floor.astype(int)

District and Address

In [208]:
split_location_df = df["Location"].str.split(",", expand=True)
df["district"] = split_location_df[0]
df["adress"] = split_location_df[1]

In [212]:
# Define your valid districts list
valid_districts = [
    "Есильский р-н", "Сарыарка р-н", "Алматы р-н", "Нура р-н", "р-н Байконур", "Сарайшык р-н"
]

# Function to fix district and address columns
def fix_district_and_address(row):
    if row['district'] not in valid_districts and pd.isna(row['adress']):
        # Move the 'district' value to 'adress'
        row['adress'] = row['district']
        # Replace 'district' value with 'Unknown District'
        row['district'] = "Unknown District"
    return row

# Apply the function to every row in the DataFrame
df = df.apply(fix_district_and_address, axis=1)

In [216]:
df.adress.fillna("unknown", inplace=True)

Checking for null values

In [217]:
df.isnull().sum()

Price              0
Location           0
Link               0
number_of_rooms    0
area               0
floor              0
district           0
adress             0
dtype: int64

Deleteing unnecessary columns and renaming for convention

In [218]:
df.rename(columns={"Price": "price", "Link": "link", "adress": "address"}, inplace=True)
df.drop("Location", axis=1, inplace=True)
df

,price,link,number_of_rooms,area,floor,district,address
0,26400000,https://krisha.kz/a/show/760514087,2,48.1,10,Нура р-н,Айтматова — Мухамедханова
1,31000000,https://krisha.kz/a/show/699137309,3,70.0,2,Алматы р-н,Кажымукана 16
2,17800000,https://krisha.kz/a/show/697594913,1,40.4,8,Есильский р-н,Туран 89/3
3,51000000,https://krisha.kz/a/show/1000167913,2,75.0,4,Есильский р-н,Кабанбай батыра — Рыскулова
4,25000000,https://krisha.kz/a/show/699116404,1,45.0,9,Есильский р-н,Мангилик Ел 19/2
...,...,...,...,...,...,...,...
19998,90000000,https://krisha.kz/a/show/52422256,4,167.9,10,Алматы р-н,ул. Ахмет Байтурсынова
19999,30000000,https://krisha.kz/a/show/761797657,3,66.5,5,Алматы р-н,сатпаева 13/3
20000,53000000,https://krisha.kz/a/show/761587982,3,72.0,12,Нура р-н,сыганак 24
20001,14500000,https://krisha.kz/a/show/692094979,1,30.0,1,Есильский р-н,Кабанбай батыра 107
20002,22400000,https://krisha.kz/a/show/1000143883,1,41.0,3,Сарайшык р-н,Кошкарбаева 32/1

Saving final variant

In [219]:
df.to_csv("astan_sale_cleaned_march_2025.csv", index=False)